html{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(252, 243, 243);
    font-family: 'Muli', sans-serif;
    margin: 0;
    padding: 0;
    color:#1A3844;
}

.first{
    margin: 0;
    padding: 0;
}

#nav{
    height: 10vh;
    color: rgba(7,160,196,1);
    background-color:#010101;
    margin-top: 0;
}

#nav ul{
    margin-left: 2rem;
    list-style-type: none;
    overflow: hidden;
}

#nav i{
    font-size: 150%;
}

#nav li a{
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    color:rgba(7,160,196,1);
    margin-top: 1rem;
    font-weight: bold;
}

#nav li .right{
    float:right;
    margin-right: 3rem;
}


.imgfirst{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("pic/1.jpg");
    background-size: cover;
    width: 100%;
    height: 70vh;
    color:#D4A6AA;
}

.imgfirst h1{
    font-size: 400%;
    margin-bottom: 2vh;
    margin-top: 4vh;
    text-shadow: 2px 2px 0px #FFFFFF, 2px 2px 2px rgba(94,214,238,0);
}

.imgfirst p{
    font-size: 150%;
    font-weight: 300;
    color:#95A9BA;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#uppericons{
    margin: auto;
    width: 20%;
    margin-top: 3vh;
    margin-bottom: 6vh;
    font-size: 160%;
}

.problem{
    height: 20vh;
    margin-top: 3vh;
    text-align: center;
}

.problem input{
    border-radius: 20px;
    border: none;
    padding: 1vw;
    font-size: 120%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,160,196,1) 51%, #5ed6ee 100%); 
    color: white;
    font-family: 'Muli', sans-serif;
    margin-top: 2vh;
}

.problem a input{
    margin-right: 2vw;
}

.about{
    height: 100vh;
}

.about h2{
    padding-top: 4vh;
    margin-left: 9vw;
}

.box{
    -webkit-box-shadow: 0px 0px 73px 8px rgba(247,227,225,1);
    -moz-box-shadow: 0px 0px 73px 8px rgb(12, 7, 7);
    box-shadow: 0px 0px 73px 8px rgba(247,227,225,1);
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 35vh;
    align-items: center;
    font-size: 120%;
}

.picture{
    width: 10vw;
}

#aboutme h2:first-of-type{
    font-size: 200%;
 }

.picture img{
    border-radius: 50%;
    height: 14vh;
    -webkit-box-shadow: 14px 0px 0px -7px rgba(247,226,225,1);
    -moz-box-shadow: 14px 0px 0px -7px rgba(247,226,225,1);
    box-shadow: 14px 0px 0px -7px rgba(247,226,225,1);
}

.info{
    padding-right: 0;
    margin-left: 0;
    font-weight: bold;
}

.info span{
    color:  rgba(7,160,196,1);
}

.text{
    width: 40vw;
    border-left: 4px dotted rgba(7,160,196,1);
    padding-left: 5vw;
}

#skills{
    font-weight: bold;
    text-align: center;
}

#skills h2:first-of-type{
    font-size: 200%;
    text-align: left;
}

#skills i{
    font-size: 300%;
    margin-left: 2vw;
}

#skills span{
    color: rgba(7,160,196,1);
}

#frontend{
    border-left: 4px dotted rgba(7,160,196,1);
    border-right: 4px dotted rgba(7,160,196,1);
    padding-left: 4vw;
    padding-right: 4vw;
}

#portfolio input{
    border-radius: 20px;
    border: none;
    padding: 1vw;
    font-size: 120%;
    background: rgb(123, 119, 201);
    background: linear-gradient(90deg, rgb(123, 119, 201) 0%, rgba(7,160,196,1) 51%, #5ed6ee 100%); 
    color: white;
    font-family: 'Muli', sans-serif;
    margin-top: 2vh;
}

#portfolio {
    margin-bottom: none;
    height: 100vh;

}

#portfolio h2:first-of-type{
    text-align: center;
    font-weight: bold;
    font-size: 250%;
    padding-top: 4vh;
}

.gallery{
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 35% 30% 35%;
    grid-template-rows: 50% 50%;
    background-color: black;
    color: rgba(7,160,196,1);
}

#portfolio .gallery h1, p, input{
    margin-left: 2rem;
    text-align: unset;
}

#portfolio .gallery h1{
   font-size:200%;
   margin-right: 2rem;
   text-shadow: 2px 2px 0px #FFFFFF, 2px 2px 2px rgba(94,214,238,0);
}

#portfolio .gallery p{
    margin-right: 2rem;
}

#tile1{
    background-image: url("pic/3.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    height: 40vh;
}

#tile2{
    height: 40vh;
    background-image: url("pic/5.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#tile3{
    height: 40vh;
    background-image: url("pic/6.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
}

#tile4{
    height: 40vh;
    background-image: url("pic/4.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

#tile5{
    height: 40vh;
    background-image: url("pic/7.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    grid-column-start: 2;
    grid-column-end: 4;
}

#contact{
    height: 100vh;
    width: 100vw;
}

#contact h1{
    font-size: 200%;
    font-weight: bold;
    margin-left: 8vw;
}

.boxy{
    -webkit-box-shadow: 0px 0px 73px 8px rgba(247,227,225,1);
    -moz-box-shadow: 0px 0px 73px 8px rgb(12, 7, 7);
    box-shadow: 0px 0px 73px 8px rgba(247,227,225,1);
    width: 85vw;
    margin: auto;
    display: flex;
    height: 70vh;
}

#rigthcon{
    background-color: rgba(7,160,196,1);
    color: white;
    width: 35vw;
}

#rigthcon #plane{
    font-size: 300%;
    margin-left: 3vw;
}

#rigthcon i{
 font-size: 120%;
}

.up{
    width: 25vw;
    margin-left: 2vw;
    margin-top: 4vh;
    line-height: 2;
}

.down{
    width: 18vw;
    margin-left: 2vw;
    margin-top: 25vh;
}

.down a{
    text-decoration: underline;
}

.down span{
    font-weight: bold;
}

#leftcon{
    margin-left: 2vw;
    width: 50vw;
    display: flex;
    flex-direction: column;
}

#leftcon h1{
    margin-left: 3vw;;
}

#leftcon input[type="submit"]{
    border-radius: 20px;
    border: none;
    padding: 1vh 2vw 1vh 2vw;
    font-size: 120%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,160,196,1) 51%, #5ed6ee 100%); 
    color: white;
    font-family: 'Muli', sans-serif;
    margin-left: 35vw;
    margin-top: 6vh;
}

#leftcon input[type="text"]{
    border-radius: 20px;
    font-size: 120%;
    padding: 1vw;
    padding-left: 2vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 3vw;
    background-color: rgb(252, 243, 243);
    border: 2px solid rgba(247,227,225,1);
    color: rgb(223, 195, 192);
}

#leftcon textarea{
    border-radius: 20px;
    font-size: 120%;
    background-color: rgb(252, 243, 243);
    border: 2px solid rgba(247,227,225,1);
    color: rgb(223, 195, 192);
    font-family: 'Muli', sans-serif;
    resize: none;
    padding: 2vw;
    margin-left: 2.8vw;
    margin-top: 2vh;
    padding-top: 1vh;
}